
    <div class="container">

      <h1>Project Schedule</h1>

      <blockquote>
        Click on the project name for more details!
        Click on <i class="material-icons tiny">sort</i> to sort by that column, or items in <i
          class="material-icons tiny">filter_list</i> columns to filter by that item.
      </blockquote>
      <div class="row">
        <div class="col l3 s12 "> <i class="left material-icons">sort</i>Sorted by: Date / Time</div>
        <div class="col l3 offset-l6 ">
 
          <div class="right hide-on-small-only"><i class="left material-icons">filter_list</i>Filter: None</div>
          <div class="left hide-on-med-and-up"><i class="left material-icons">filter_list</i>Filter: None</div>
        </div>

      </div>

      <table class="highlight centered responsive-table">
        <thead>
          <tr>

            <th><i class="material-icons">star</i>
              <a href="?sort=starred"><i class="material-icons">sort</i></a>
            </th> 

            <th>Project Name</th>
            <th>Type <a href="?sort=type">
                <i class="material-icons">sort</i></a>
              <i class="material-icons">filter_list</i>
            </th>
            <th>Date / Time Published
              <a href="?sort=datetime"><i class="material-icons">sort</i></a>
            </th>
            <th>Time taken to Build/th>
            <th> Team Lead Name
              <a href="?sort=lead"><i class="material-icons">sort</i></a>
              <i class="material-icons">filter_list</i>
            </th>
            <th>Team size<i class="material-icons">sort</i></th>
            
          <th>Admin Op</th>
          </tr>


        </thead>

        <tbody>
          {{#each projects}}
          <tr>`

           
            <td>
              <a onclick='toggleInterest(this, "{{ project_id }}")'
                class="btn-floating btn-small waves-effect waves-light scale-transition scale-in blue"><i
                  class="material-icons">star_border</i></a>
             
            </td>
            <td class="blue-text clickable" onclick="location.href='/projects/{{project_id}}'">{{project_name}}</td>
            <td> <a href='?filter=type:{{project_type}}'>{{project_type}} </a></td>
            <td>{{project_taken}}</td>
            <td> <a href='?filter=lead:lead'>{{project_lead}}</a></td>
            <td>{{project_team}}<i class=material-icons>people</i></td>
         
            <td nowrap>

              <a class="btn-floating btn-small waves-effect waves-light green lighten-1" href="/projects/modify/{{project_id}}"><i
                  class="material-icons">edit</i></a>
              <a class="btn-floating waves-effect waves-light red"
                onclick='confirmDelete("{{project_name}}","{{ project_id}}")'><i class="material-icons">delete</i></a>

            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <a href="/projects/create" class="btn-floating btn-large orange fixed-action-btn">
      <i class="large material-icons">create</i>
    </a>

    <script src="/js/project_utils.js"></script>